body {
  margin: 0;
  overflow: hidden;
  background-color: #D8D8D8;
}
canvas {
  display: block;
  width: 100vw;
  height: 100vw;
}

.back-container {
  margin: 20px;
}

.back-btn {
  text-decoration: none;
  background-color: #555;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}